################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SP_Hauler/v15
/SP_Hauler/obj/Debug/SP_Hauler.csproj.CoreCompileInputs.cache
