################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/SP_Hauler/obj/*
/SP_Hauler/bin/*
